*{
    font-family: 'Crete Round', serif;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
.material-symbols-outlined{
    vertical-align: middle;
    line-height: 1px;
    font-size: 30px;
}
.navbar-brand > .material-symbols-outlined{
    font-size: 38px;
    vertical-align: middle;
}

.about > .material-symbols-outlined{
    font-size: 48px;
}
.card > img{
    height: 240px;
}
.dwnBtn:hover{
    background-image: linear-gradient(rgb(246, 201, 160), rgb(240, 82, 9)) !important;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;

}
